apiVersion: v1
kind: Service
metadata:
  name: {{ include "nes-node-web.fullname" . }}
  # namespace
spec:
  selector:
    app: {{ include "nes-node-web.fullname" . }}
    {{- with (include "nes-node-web.selectorLabels" .) }}
      {{- . | nindent 4 }}
    {{- end }}
  ports:
    - protocol: TCP
      port: 80
      targetPort: {{ required "A valid .Values.port entry is required!" .Values.port }}
