{{- if .Values.pushSecret.enabled }}
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: {{ default (printf "%s-push" (include "ack-documentdb-provider.fullname" .)) .Values.pushSecret.name }}
  labels:
    {{- include "ack-documentdb-provider.labels" . | nindent 4 }}
spec:
  refreshInterval: {{ .Values.pushSecret.refreshInterval }}
  secretStoreRefs:
    - name: {{ .Values.pushSecret.target.provider }}
      kind: {{ .Values.pushSecret.storeKind }}
  selector:
    secret:
      name: {{ include "ack-documentdb-provider.connectionSecretName" . }}
  data:
    - match:
        secretKey: {{ .Values.pushSecret.sourceKey }}
        remoteRef:
          remoteKey: {{ .Values.pushSecret.target.name }}
          property: {{ .Values.pushSecret.target.type }}
{{- end }}
