{{- if and .Values.connectionSecret.create (eq .Values.auth.mode "password") }}
apiVersion: generators.external-secrets.io/v1alpha1
kind: Password
metadata:
  name: {{ include "ack-opensearch-provider.passwordGeneratorName" . }}
  labels:
    {{- include "ack-opensearch-provider.labels" . | nindent 4 }}
spec:
  length: {{ .Values.auth.password.length }}
  digits: {{ .Values.auth.password.digits }}
  symbols: {{ .Values.auth.password.symbols }}
  noUpper: {{ .Values.auth.password.noUpper }}
  allowRepeat: {{ .Values.auth.password.allowRepeat }}
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: {{ include "ack-opensearch-provider.externalSecretName" . }}
  labels:
    {{- include "ack-opensearch-provider.labels" . | nindent 4 }}
spec:
  refreshInterval: 1h
  target:
    name: {{ include "ack-opensearch-provider.connectionSecretName" . }}
    creationPolicy: Merge
    template:
      type: Opaque
      data:
        USERNAME: {{ .Values.auth.username | quote }}
  data:
    - secretKey: {{ .Values.auth.password.key }}
      sourceRef:
        generatorRef:
          apiVersion: generators.external-secrets.io/v1alpha1
          kind: Password
          name: {{ include "ack-opensearch-provider.passwordGeneratorName" . }}
{{- end }}
