name: tests

on:
  pull_request: {}

permissions:
  contents: read

jobs:
  chart-version-bump:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Fetch base branch
        run: git fetch --no-tags --prune --depth=1 origin ${{ github.event.pull_request.base.sha }}

      - name: set python up with caching
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: '.tool-versions'
          cache: 'pip'

      - name: Install dependencies
        run: python -m pip install .[ci]

      - name: Verify chart versions bumped
        run: python scripts/check_chart_version_bump.py ${{ github.event.pull_request.base.sha }}

  pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # install mise tools with caching
      - name: Set up mise
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          cache: true

      - name: set python up with caching
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version-file: '.tool-versions'
          cache: 'pip'

      - name: Install dependencies
        run: python -m pip install -e .[dev]

      - name: Run tests
        run: make test

  helm-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # install mise tools with caching
      - name: Set up mise
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          cache: true

      - name: Helm lint
        run: pre-commit run helmlint --all-files
