name: tests

on:
  pull_request: {}

permissions:
  contents: read

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # ratchet:actions/checkout@v4

      - name: Install asdf & tools
        uses: asdf-vm/actions/install@1902764435ca0dd2f3388eea723a4f92a4eb8302 # ratchet:asdf-vm/actions/install@v4.0.0

      - name: Install dependencies
        run: python -m pip install -e .[dev]

      - name: Run tests
        run: make test

  helm-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # ratchet:actions/checkout@v4

      - name: Install asdf & tools
        uses: asdf-vm/actions/install@1902764435ca0dd2f3388eea723a4f92a4eb8302 # ratchet:asdf-vm/actions/install@v4.0.0

      - name: Helm lint
        run: pre-commit run helmlint --all-files
