name: tests

on:
  pull_request: {}

permissions:
  contents: read

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      # install ASDF tools with caching
      - name: set up ASDF
        uses: asdf-vm/actions/setup@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1
      - name: Restore ASDF tools from cache
        id: asdf-tools-cache
        uses: actions/cache@6f8efc29b200d32929f49075959781ed54ec270c # ratchet:actions/cache@v3
        env:
          asdf_cache_prefix: ${{ runner.os }}-${{ runner.arch }}-asdf-tools-
        with:
          key: ${{ env.asdf_cache_prefix }}${{ hashFiles('.tool-versions') }}
          restore-keys: ${{ env.asdf_cache_prefix }}
          path: |
            ${{ env.ASDF_DIR }}/plugins
            ${{ env.ASDF_DIR }}/installs
            ${{ env.ASDF_DIR }}/shims
      - name: Install ASDF tools on cache-miss
        if: ${{ steps.asdf-tools-cache.outputs.cache-hit != 'true' }}
        uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1
      - name: Reshim installed ASDF tools on cache-hit
        if: ${{ steps.asdf-tools-cache.outputs.cache-hit == 'true' }}
        shell: bash
        run: asdf reshim

      - name: set python up with caching
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version-file: '.tool-versions'
          cache: 'pip'

      - name: Install dependencies
        run: python -m pip install -e .[dev]

      - name: Run tests
        run: make test

  helm-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      # install ASDF tools with caching
      - name: set up ASDF
        uses: asdf-vm/actions/setup@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1
      - name: Restore ASDF tools from cache
        id: asdf-tools-cache
        uses: actions/cache@6f8efc29b200d32929f49075959781ed54ec270c # ratchet:actions/cache@v3
        env:
          asdf_cache_prefix: ${{ runner.os }}-${{ runner.arch }}-asdf-tools-
        with:
          key: ${{ env.asdf_cache_prefix }}${{ hashFiles('.tool-versions') }}
          restore-keys: ${{ env.asdf_cache_prefix }}
          path: |
            ${{ env.ASDF_DIR }}/plugins
            ${{ env.ASDF_DIR }}/installs
            ${{ env.ASDF_DIR }}/shims
      - name: Install ASDF tools on cache-miss
        if: ${{ steps.asdf-tools-cache.outputs.cache-hit != 'true' }}
        uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47 # v4.0.1
      - name: Reshim installed ASDF tools on cache-hit
        if: ${{ steps.asdf-tools-cache.outputs.cache-hit == 'true' }}
        shell: bash
        run: asdf reshim

      - name: Helm lint
        run: pre-commit run helmlint --all-files
