name: tests

on:
  pull_request: {}

permissions:
  contents: read

jobs:
  chart-version-bump:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0

      - name: Fetch base branch
        run: git fetch --no-tags --prune --depth=1 origin ${{ github.event.pull_request.base.sha }}

      - name: set python up with caching
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: '.tool-versions'
          cache: 'pip'

      - name: Install dependencies
        run: python -m pip install .[ci]

      - name: Verify chart versions bumped
        run: python scripts/check_chart_version_bump.py ${{ github.event.pull_request.base.sha }}

  pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # install mise tools with caching
      - name: Set up mise
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          cache: true

      - name: set python up with caching
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version-file: '.tool-versions'
          cache: 'pip'

      - name: Install dependencies
        run: python -m pip install -e .[dev]

      - name: Run tests
        run: make test

  helm-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # install mise tools with caching
      - name: Set up mise
        uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # v3.6.1
        with:
          cache: true

      - name: Helm lint
        run: pre-commit run helmlint --all-files
